
  <html dir="rtl" lang="ar">
    <head>
    <meta charset="utf-8">
      <title></title>
      <style>
        .impact {
            font-family: Arial;
            dir: rtl;
        }
        
        .bkgdcolor {
            background-color: #D6D2D1
        }
        </style>
    </head>
    <body class='impact'  dir='rtl'>
    <img src="{{{etihadLogo}}}" /> <img src=""/>
    <h2> العزيز {{#each Reservation.PAXs}}{{#if this.PAXIsLead}}{{this.PAXFirstName}} {{this.PAXLastName}}{{/if}}{{/each}},</h2>
        
            <p>شكرًا لك على استخدام خدمة تسجيل الوصول</p>
        
            <p>يرجى العثور على معلومات الصعود إلى الطائرة أدناه</p>
        
            <p>يجب أيضًا ملاحظة النقاط التالية</p>
        
            <ol>
                <li>يتوجب على الضيوف الذين معهم أمتعة يريدون تسجيلها الوصول إلى المطار قبل 90 دقيقة على الأقل من موعد المغادرة يجب على الضيوف المسافرين برحلات مباشرة إلى الولايات المتحدة الوصول إلى المطار قبل 120 دقيقة من وقت المغادرة</li>
                <li>يجب على جميع الضيوف التواجد عند بوابة المغادرة قبل45 دقيقة على الأقل من موعد المغادرة. على الضيوف المسافرين برحلات مباشرة إلى الولايات المتحدة الوصول إلى مرافق التخليص المسبق لمعاملات السفر إلى الولايات المتحدة في أبوظبي قبل 60 دقيقة على الأقل من وقت المغادرة</li>
                <li>توفر الاتحاد للطيران التخليص المسبق لمعاملات السفر إلى الولايات المتحدة في مطار أبوظبي.</li>
            </ol>
            <p>تقدم الاتحاد للطيران خدمة التخليص المسبق للولايات المتحدة في مطار أبوظبي</p>
            
            <h2 class='bkgdcolor'>معلومات الصعود</h2>
   
    {{#each Reservation.PAXs}}
        <p>اسم الراكب: <b>{{this.PAXTitle}} {{this.PAXFirstName}} {{this.PAXLastName}}</b><p>
        
        {{#each this.FlightLegs}}
            <table width='100%'>
                <tr><td width='30%'>معلومات الحجز:</td><td><b>{{@root.Reservation.PNR}}</b></td></tr>
                <tr><td width='30%'>رقم الرحلة الجوية:</td> <td>{{this.FlightNum}}</td></tr>
                <tr><td width='30%'>تاريخ / وقت الصعود:</td> <td>{{this.FlightBoardingDate}},  {{this.FlightBoardingTime}}</td></tr>
                <tr><td width='30%'>السفر من:</td> <td>{{this.FlightOrigin}}</td></tr>
                <tr><td width='30%'>تاريخ / وقت المغادرة:</td> <td>{{this.FlightDepartureDate}},  {{this.FlightDepartureTime}}</td></tr>
                <tr><td width='30%'>السفر الى:</td> <td>{{this.FlightDestination}}</td></tr>
                <tr><td width='30%'>تاريخ / وقت الوصول:</td> <td>{{this.FlightArrivalDate}},  {{this.FlightArrivalTime}}</td></tr>
                
                <tr><td width='30%'>البوابة / الصالة:</td> <td>{{this.FlightDepGate}}</td></tr>
                <tr><td width='30%'>مقعد:</td> <td>{{PAXSeatNum}}</td></tr>
                <tr><td width='30%'>منطقة:</td> <td>{{PAXSeatZone}}</td></tr>
            </table>
            <hr>
        {{/each}}
    {{/each}}
    
    
   
    
      <div data-role="module-unsubscribe" class="module" role="module" data-type="unsubscribe" style="color:#444444; font-size:12px; line-height:20px; padding:16px 16px 16px 16px; text-align:Center;" data-muid="4e838cf3-9892-4a6d-94d6-170e474d21e5">
        
        <p style="font-size:12px; line-height:20px;">
          <a class="Unsubscribe--unsubscribeLink" href="{{{unsubscribe}}}" target="_blank" style="font-family:sans-serif;text-decoration:none;">
            إلغاء الاشتراك
          </a>
          -
          <a href="{{{unsubscribe_preferences}}}" target="_blank" class="Unsubscribe--unsubscribePreferences" style="font-family:sans-serif;text-decoration:none;">
            تفضيلات إلغاء الاشتراك
          </a>
        </p>
        <img src="https://www.google-analytics.com/collect?v=1&tid=UA-16795104-2&cid=555&t=event&ec=email&ea=open&el=recipient_id&cs=bpass&cm=email&cn=ifikracampaign&dp=emaildp">
      </div>
    </body>
  </html>
