<html>

<head>
    <style>
        .table-outer-border {
            border-collapse: collapse;
            border: 1px solid gray;
        }

        .td-outer-border {
            border-collapse: collapse;
            border: 1px solid gray;
        }

        body {
            font-family: Arial;
            font-size: 12;
        }

        .td-right-border {
            border-collapse: collapse;
            border-right: 1px solid gray;
        }
    </style>
</head>

<body>
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>AGENT COPY</td>
            </tr>
        </tbody>
    </table>
    <table class="table-outer-border" style="width: 100%;">
        <tbody>
            <tr>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 50%; vertical-align: top; padding-left: 5px">
                                    <div>
                                        <div><img src="{{{etihadLogo}}}" width="100px" height="63px" /></div>
                                    </div>
                                </td>
                                <td style="width: 50%; vertical-align: top; text-align: right; padding-right: 5px"><img
                                        src="{{{barcode}}}" width="200px" height="63px" /></td>
                            </tr>
                            <tr>
                                <td style="width: 50%; vertical-align: top; padding-left: 5px">ECONOMY</td>
                                <td style="width: 50%; vertical-align: top; text-align: right;"></td>
                            </tr>
                            <tr>
                                <td style="width: 50%; vertical-align: top; padding-left: 5px"><span
                                        style="font-family: Arial; font-size: 8;">Boarding Pass</span></td>
                                <td style="width: 50%; vertical-align: top; text-align: right; padding-right: 5px"><span
                                        style="font-family: Arial; font-size: 8;">Booking
                                        Reference:&nbsp;{{PAX.PNR}}<br />eTicket:&nbsp;{{PAX.TicketNumber}}<br />Seq
                                        No:&nbsp;{{PAX.SequenceNumber}}</span></td>
                            </tr>
                            <tr>
                                <td style="width: 50%; vertical-align: top; padding-left: 5px;">
                                    {{PAX.PAXLastName}}/{{PAX.PAXFirstName}} {{PAX.PAXTitle}}</td>
                                <td style="width: 50%; vertical-align: top; text-align: right; padding-right: 5px">
                                    {{PAX.FlightOrigin}}&nbsp;<img src="{{{plane}}}" width="20px" height="15px" />
                                    {{PAX.FlightDestination}}<br /> <span
                                        style="font-family: Arial; font-size: 8;">{{PAX.FlightOriginCity}} TO {{PAX.FlightDestinationCity}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; padding-left: 10px; padding-right: 10px;">
                    <table style="width: 100%;" class="table-outer-border">
                        <tbody>
                            <tr>
                                <td style="vertical-align: top;">
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 25%; vertical-align: top; padding-left: 10px"
                                                    class="td-right-border">
                                                    <span
                                                        style="font-family: Arial; font-size: 8;">Flight</span><br />{{PAX.FlightNum}}<br />
                                                    <span
                                                        style="font-family: Arial; font-size: 8;">{{PAX.FlightDepDate}}</span>
                                                </td>
                                                <td style="width: 25%; vertical-align: top; padding-left: 10px"
                                                    class="td-right-border">
                                                    <span
                                                        style="font-family: Arial; font-size: 8;">Terminal/Gate</span><br />{{PAX.FlightDepGate}}
                                                </td>
                                                <td style="width: 35%; vertical-align: top; padding-left: 10px"
                                                    class="td-right-border">
                                                    <span style="font-family: Arial; font-size: 8;">Boarding
                                                        Time</span><br />{{PAX.FlightBrdTime}}<br /><span
                                                        style="font-family: Arial; font-size: 8;">Departure
                                                        Time:{{PAX.FlightDepTime}}</span></td>
                                                <td style="width: 15%; vertical-align: top; padding-left: 10px"><span
                                                        style="font-family: Arial; font-size: 8;">Seat</span><br />{{PAX.PAXSeatNum}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 25%; vertical-align: top;"><span
                                        style="font-family: Arial; font-size: 3;"></span></td>
                                <td style="width: 25%; vertical-align: top;"><span
                                        style="font-family: Arial; font-size: 3;"></span></td>
                                <td style="width: 25%; vertical-align: top;"><span
                                        style="font-family: Arial; font-size: 3;"></span></td>
                                <td style="width: 25%; vertical-align: top;"><span
                                        style="font-family: Arial; font-size: 3;"></span></td>
                            <tr>
                                <td style="width: 25%; vertical-align: top; padding-left: 5px" colspan="3"><span
                                        style="font-family: Arial; font-size: 8;">Operated By: Etihad
                                        Airways</span></td>
                                <td style="width: 25%; vertical-align: top; text-align: center; padding-right: 5px">
                                    <span style="font-family: Arial; font-size: 8;">Boarding Zone</span></td>
                            </tr>
                            <tr>
                                <td style="width: 25%; vertical-align: top;" colspan="3"></td>
                                <td style="width: 25%; vertical-align: middle; text-align: center;">
                                    <table width=100%>
                                        <tbody>
                                            <tr>
                                                <td style="width: 33%; vertical-align: top;">&nbsp;</td>
                                                <td style="width: 34%; vertical-align: top; text-align: center;"
                                                    class="td-outer-border"><span
                                                        style="font-family: Arial; font-size: 20;">{{PAX.FlightBrdZone}}</span>
                                                </td>
                                                <td style="width: 33%; vertical-align: top;">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table style="width: 100%">
        <tbody>
            <tr>
                <td>
                    <div><img src="{{{separator}}}" width="100%" height="10px" /></div>
                </td>
            </tr>
        </tbody>
    </table>

    <table style="width: 100%;" dir='rtl'>
        <tbody>
            <tr>
                <td style="width: 100%;">
                    <span style="font-family: Arial; font-size: 10;">&nbsp;ملاحظات مھمة</span><br>
                    <span style="font-family: Arial; font-size: 8;">
                        <div>
                            <ul>
                                <li>یرجى طباعة بطاقة الصعود للطائرة ھذه وأخذھا إلى المطار</li>
                                <li>س ُیطلب منك إبراز بطاقة صعود الطائرة لأمن المطار ومسؤول خدمات الضیوف عندما یحین وقت الصعود إلى الطائرة</li>
                                <li>یتوجب على الضیوف الذین معھم أمتعة یریدون تسجیلھا الوصول إلى المطار قبل 90 دقیقة على الأقل من موعد المغادرة یجب على الضیوف المسافرین برحلات مباشرة إلى الولایات المتحدة الوصول إلى المطار قبل 120 دقیقة من وقت المغادرة</li>
                                <li>یجب على جمیع الضیوف التواجد عند بوابة المغادرة قبل45 دقیقة على الأقل من موعد المغادرة. على الضیوف المسافرین برحلات مباشرة إلى الولایات المتحدة الوصول إلى مرافق التخلیص المسبق لمعاملات السفر إلى الولایات المتحدة في أبوظبي قبل 60 دقیقة على الأقل من وقت المغادرة</li>
                                <li>توفر الاتحاد للطیران التخلیص المسبق لمعاملات السفر إلى الولایات المتحدة في مطار أبوظبي.</li>
                                <li>.رفسلا تاءارجإ مامتإ دیعاوم ةاعارم نم دكأتلا ىج ُري .ناریطلل داحتالا نم ةحلاص ىرخأ ةقاطبب اھلادبتسا متیسو ،راطملا یف رفسلا تاءارجإ مامتإ بتكم یف ةرئاطلا ىلإ دوعصلل ةینورتكلإلا ةقاطبلا ھذه زاربإ بجي</li>
                            </ul>
                        </div>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <table style="width: 100%;">
        <tbody>
            <tr>
                <td>PASSENGER COPY</td>
            </tr>
        </tbody>
    </table>
    <table class="table-outer-border" style="width: 100%;">
        <tbody>
            <tr>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 50%; vertical-align: top; padding-left: 5px">
                                    <div>
                                        <div><img src="{{{etihadLogo}}}" width="100px" height="63px" /></div>
                                    </div>
                                </td>
                                <td style="width: 50%; vertical-align: top; text-align: right; padding-right: 5px"><img
                                        src="{{{barcode}}}" width="200px" height="63px" /></td>
                            </tr>
                            <tr>
                                <td style="width: 50%; vertical-align: top; padding-left: 5px">ECONOMY</td>
                                <td style="width: 50%; vertical-align: top; text-align: right;"></td>
                            </tr>
                            <tr>
                                <td style="width: 50%; vertical-align: top; padding-left: 5px"><span
                                        style="font-family: Arial; font-size: 8;">Boarding Pass</span></td>
                                <td style="width: 50%; vertical-align: top; text-align: right; padding-right: 5px"><span
                                        style="font-family: Arial; font-size: 8;">Booking
                                        Reference:&nbsp;{{PAX.PNR}}<br />eTicket:&nbsp;{{PAX.TicketNumber}}<br />Seq
                                        No:&nbsp;{{PAX.SequenceNumber}}</span></td>
                            </tr>
                            <tr>
                                <td style="width: 50%; vertical-align: top; padding-left: 5px;">
                                    {{PAX.PAXLastName}}/{{PAX.PAXFirstName}} {{PAX.PAXTitle}}</td>
                                <td style="width: 50%; vertical-align: top; text-align: right; padding-right: 5px">
                                    {{PAX.FlightOrigin}}&nbsp;<img src="{{{plane}}}" width="20px" height="15px" />
                                    {{PAX.FlightDestination}}<br /> <span
                                        style="font-family: Arial; font-size: 8;">{{PAX.FlightOriginCity}} TO {{PAX.FlightDestinationCity}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; padding-left: 10px; padding-right: 10px;">
                    <table style="width: 100%;" class="table-outer-border">
                        <tbody>
                            <tr>
                                <td style="vertical-align: top;">
                                    <table style="width: 100%;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 25%; vertical-align: top; padding-left: 10px"
                                                    class="td-right-border">
                                                    <span
                                                        style="font-family: Arial; font-size: 8;">Flight</span><br />{{PAX.FlightNum}}<br />
                                                    <span
                                                        style="font-family: Arial; font-size: 8;">{{PAX.FlightDepDate}}</span>
                                                </td>
                                                <td style="width: 25%; vertical-align: top; padding-left: 10px"
                                                    class="td-right-border">
                                                    <span
                                                        style="font-family: Arial; font-size: 8;">Terminal/Gate</span><br />{{PAX.FlightDepGate}}
                                                </td>
                                                <td style="width: 35%; vertical-align: top; padding-left: 10px"
                                                    class="td-right-border">
                                                    <span style="font-family: Arial; font-size: 8;">Boarding
                                                        Time</span><br />{{PAX.FlightBrdTime}}<br /><span
                                                        style="font-family: Arial; font-size: 8;">Departure
                                                        Time:{{PAX.FlightDepTime}}</span></td>
                                                <td style="width: 15%; vertical-align: top; padding-left: 10px"><span
                                                        style="font-family: Arial; font-size: 8;">Seat</span><br />{{PAX.PAXSeatNum}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 25%; vertical-align: top;"><span
                                        style="font-family: Arial; font-size: 3;"></span></td>
                                <td style="width: 25%; vertical-align: top;"><span
                                        style="font-family: Arial; font-size: 3;"></span></td>
                                <td style="width: 25%; vertical-align: top;"><span
                                        style="font-family: Arial; font-size: 3;"></span></td>
                                <td style="width: 25%; vertical-align: top;"><span
                                        style="font-family: Arial; font-size: 3;"></span></td>
                            <tr>
                                <td style="width: 25%; vertical-align: top; padding-left: 5px" colspan="3"><span
                                        style="font-family: Arial; font-size: 8;">Operated By: Etihad
                                        Airways</span></td>
                                <td style="width: 25%; vertical-align: top; text-align: center; padding-right: 5px">
                                    <span style="font-family: Arial; font-size: 8;">Boarding Zone</span></td>
                            </tr>
                            <tr>
                                <td style="width: 25%; vertical-align: top;" colspan="3"></td>
                                <td style="width: 25%; vertical-align: middle; text-align: center;">
                                    <table width=100%>
                                        <tbody>
                                            <tr>
                                                <td style="width: 33%; vertical-align: top;">&nbsp;</td>
                                                <td style="width: 34%; vertical-align: top; text-align: center;"
                                                    class="td-outer-border"><span
                                                        style="font-family: Arial; font-size: 20;">{{PAX.FlightBrdZone}}</span>
                                                </td>
                                                <td style="width: 33%; vertical-align: top;">&nbsp;</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>