<html>

<head>
    <style>
        body {
            font-family: Arial;
        }
    </style>
</head>

<body>
    <table style="width:100%;text-align:center;">
        <tbody>
            <tr>
                <td><img src="{{{etihadLogo}}}" width="100px" height="63px" /></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <table style="width:100%;text-align:center;">
        <tr>
            <td>
                <h1>Receipt Details</h1>
            </td>
        </tr>
    </table>

    <table style="width:100%;text-align:left;font-size:15px;">
        <tr>
            <td>
                <b>Booking Reference:</b> {{PNR}}
            </td>
        </tr>
    </table>
    <hr>

{{#each emdInfo.EMDs}}
    <table style="width:100%;text-align:left;color:#696969">
        <tr>
            <td colspan="2" style="font-size:12px;color:#FFA500">{{this.EmdPAXName}}</td>
        </tr>
        <tr>
            <td style="font-size:10px;widht:50%"><strong>Document number:</strong> {{this.EmdNumber}}</td>
            <td style="font-size:10px;widht:50%"><b>Equivalent amount:</b> {{this.EmdBaseCurrency}} 0.00</td>
        </tr>
        <tr>
            <td style="font-size:10px;">{{this.EmdDescription}} : {{this.EmdBaseCurrency}} {{this.EmdBasePrice}}</td>
            <td style="font-size:10px;"><b>Tax/Fee/Charge:</b> {{this.EmdBaseCurrency}} {{this.EmdTaxAmount}}</td>
        </tr>
        <tr>
            <td style="font-size:10px;"><b>Issued On:</b> {{this.EmdDateOfIssuance}}</td>
            <td style="font-size:10px;"><b>Form of payment:</b> {{this.EmdFormOfPayment}}</td>
        </tr>
        <tr>
            <td style="font-size:10px;"><b>Issued By:</b> {{this.EmdCompany}}</td>
            <td style="font-size:10px;"><b>Total:</b> {{this.EmdTotalCurrency}} {{this.EmdTotalPrice}}</td>
        </tr>
        <tr>
            <td style="font-size:10px;"></td>
            <td style="font-size:10px;"><b>Issuing Agent:</b> {{this.EmdIssueAgency}}</td>
        </tr>
    </table>
    <hr>
{{/each}}

</body>

</html>