<html>
    <head>
        <style>
            .table-all-border {
                border-collapse: collapse;
                border-right: 1px solid gray;
                border-left: 1px solid gray;
                border-bottom: 1px solid gray;
                border-top: 1px solid gray;
            }
        </style>
    </head>
    <body width='75%' dir='rtl'>
        <table>
            <tr><td style="text-align:left;font-size:10px;color:#696969;">.{{paxname}} تم الحجز! اطلع على تفاصيل طلبك،</td></tr>
            <tr><td style="text-align:left;font-size:8px;color:#696969;">كيف اخترت السفر؟</td></tr>
            <tr><td style="text-align:left;"><img src="{{{etihadLogo}}}" /></td></tr>
        </table>

        <center>
            <table style="text-align:center" width="500px">
                <tr><td style="font-size:25px;color:#FFA500"><i>اختيار جيد</i></td></tr>
                <tr><td><i> متحمس لرحلتك ، {{Reservation.PAXName}}؟</i><br> هنا تفاصيل طلبك.</td></tr>
            <table>

            <table class="table-all-border" style="text-align:center" width="100px">
                <tr><td style="font-size:12px;">مرجع الحجز</td></tr>
                <tr><td style="font-size:17px;">{{Reservation.PNR}}</td></tr>
                <tr><td style="font-size:17px;"></td></tr>
            </table>

            <table width="500px">
                <tr><td colspan='4' style="font-size:20px;">{{Reservation.PAXName}}</td></tr>
                <tr><td colspan='3' style="text-align:right;font-size:17px;">التفاصيل</td><td style="text-align:left;font-size:17px;">الإجمالي</td></tr>
            
{{#each Reservation.EMDs}}
                <tr><td width="25%" style="text-align:right;font-size:5px;"><img src="{{this.EmdImage}}" width="100px" height="70px"/></td>
                <td width="30%" style="text-align:right;font-size:15px;">{{this.EmdDescription}}</td>
                <td width="30%" style="text-align:right;font-size:15px;">{{this.EmdDetailsMessage}}</td>
                <td width="15%" style="text-align:left;font-size:15px;">{{this.EmdTotalCurrency}} {{this.EmdTotalPrice}}</td></tr>
{{/each}}
            </table>
            <br><br>
            <table width="500px">
                <tr><td colspan='2' style="text-align:right;font-size:12px;"><img src="{{@root.Reservation.aircraft}}" width="20px" height="15px"/>&nbsp;معلومات عن الرحلة</td>
                <td colspan='2' style="text-align:left;font-size:10px;">تُظهر كل الأوقات المعروضة التوقيت المحلي لكل مدينة</td></tr>
{{#each @root.Reservation.flightLegs}}
                <tr>
                    <td width="35%">
                        <table>
                            <tr><td style="text-align:right;font-size:12px;">{{this.FlightDepartureDate}}</td></tr>
                            <tr><td style="text-align:right;font-size:9px;">{{this.FlightOrigin}}, {{this.FlightOriginCityName}}</td></tr>
                            <tr><td style="text-align:right;font-size:12px;">{{this.FlightDepartureTime}}</td></tr>
                        </table>
                    </td>
                    <td width="15%" style="text-align:left;font-size:15px;">
                        <img src="{{@root.Reservation.aircraft}}" width="50px" height="40px"/>
                    </td>
                    <td width="35%">
                        <table>
                            <tr><td style="text-align:right;font-size:12px;">{{this.FlightArrivalDate}}</td></tr>
                            <tr><td style="text-align:right;font-size:9px;">{{this.FlightDestination}}, {{this.FlightDestinationCityName}}</td></tr>
                            <tr><td style="text-align:right;font-size:12px;">{{this.FlightArrivalTime}}</td></tr>
                        </table>
                    </td>
                    <td style="text-align:left;font-size:15px;" width="15%">
                        <table>
                            <tr><td style="text-align:left;font-size:12px;">{{this.FlightNum}}</td></tr>
                            <tr><td style="text-align:left;font-size:9px;">{{this.AircraftICAOCode}}</td></tr>
                            <tr><td style="text-align:left;font-size:9px;">{{this.AircraftTypeDescription}}</td></tr>
                        </table>
                        
                    </td>
                </tr>
{{/each}}
            </table>
        </center>
    </body>
</html>