
  <html>
    <head>
      <title></title>
      <style>
        .impact {
            font-family: Arial;
        }
        
        .bkgdcolor {
            background-color: #D6D2D1
        }
        </style>
    </head>
    <body class='impact'>
    <img src="{{{etihadLogo}}}" />
    <h2> Dear {{#each Reservation.PAXs}}{{#if this.PAXIsLead}}{{this.PAXFirstName}} {{this.PAXLastName}}{{/if}}{{/each}},</h2>
        
            <p>Thank you for using our Check-in Service.</p>
        
            <p>Please find your boarding information below.</p>
        
            <p>The following points should also be noted:</p>
        
            <ol>
                <li> Guest with checked baggage should arrive at the airport at least 90 minutes prior to departure. Guests travelling on direct flights to US, should arrive at the airport 120 minutes prior to departure for baggage drop off.</li>
                <li> All guests must arrive at the boarding gate at least 45 minutes prior to departure. Guests travelling on direct flights to US, must arrive at Abu Dhabi US pre-clearance at least 60 minutes prior to departure.</li>
                <li> Etihad Airways offers US Pre-clearance at Abu Dhabi airport.</li>
            </ol>
            <p>We look forward to welcoming you on board.</p>
            
            <h2 class='bkgdcolor'> BOARDING INFORMATION</h2>
   
    {{#each Reservation.PAXs}}
        <p>Passenger Name: <b>{{this.PAXTitle}} {{this.PAXFirstName}} {{this.PAXLastName}}</b></p>
        
        {{#each this.FlightLegs}}
            <table width='100%'>
                <tr><td width='30%'>Booking Reference:</td><td><b>{{@root.Reservation.PNR}}</b></td></tr>
                <tr><td width='30%'>Flight Number:</td> <td>{{this.FlightNum}}</td></tr>
                <tr><td width='30%'>Boarding Date/Time:</td> <td>{{this.FlightBoardingDate}},  {{this.FlightBoardingTime}}</td></tr>
                <tr><td width='30%'>Travelling From:</td> <td>{{this.FlightOrigin}}</td></tr>
                <tr><td width='30%'>Departure Date/Time:</td> <td>{{this.FlightDepartureDate}},  {{this.FlightDepartureTime}}</td></tr>
                <tr><td width='30%'>Travelling To:</td> <td>{{this.FlightDestination}}</td></tr>
                <tr><td width='30%'>Arrival Date/Time:</td> <td>{{this.FlightArrivalDate}},  {{this.FlightArrivalTime}}</td></tr>
                
                <tr><td width='30%'>Gate/Terminal:</td> <td>{{this.FlightDepGate}}</td></tr>
                <tr><td width='30%'>Seat:</td> <td>{{PAXSeatNum}}</td></tr>
                <tr><td width='30%'>Zone:</td> <td>{{this.FlightBoardingZone}}</td></tr>
            </table>
            <hr>
        {{/each}}
    {{/each}}
    
    
   
    
      <div data-role="module-unsubscribe" class="module" role="module" data-type="unsubscribe" style="color:#444444; font-size:12px; line-height:20px; padding:16px 16px 16px 16px; text-align:Center;" data-muid="4e838cf3-9892-4a6d-94d6-170e474d21e5">
        
        <p style="font-size:12px; line-height:20px;">
          <a class="Unsubscribe--unsubscribeLink" href="{{{unsubscribe}}}" target="_blank" style="font-family:sans-serif;text-decoration:none;">
            Unsubscribe
          </a>
          -
          <a href="{{{unsubscribe_preferences}}}" target="_blank" class="Unsubscribe--unsubscribePreferences" style="font-family:sans-serif;text-decoration:none;">
            Unsubscribe Preferences
          </a>
        </p>
      </div>
    </body>
  </html>
